<div class="container my-4">
  <mat-card>
    <div fxLayout="row wrap" dir="rtl" fxLayoutGap="15px grid">
      <div fxFlex="40%">
        <mat-card-header>
          <mat-card-title>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </mat-card-title>
        </mat-card-header>

      </div>
      <div fxFlex="60%">
        <mat-card-header>
          <mat-card-title>
            درخواست های شعب
          </mat-card-title>
        </mat-card-header>
      </div>
    </div>

  </mat-card>
</div>
