<form [formGroup]="stFormGroup" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{isEdit ? 'Edit Post' : 'Create Post'}}
      </mat-card-title>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.preventDefault()"
              class="ml-auto">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="submit"
                (click)="onSubmit()"
                mat-menu-item
                [disabled]="!stFormGroup.valid">
          <mat-icon>save_alt</mat-icon>
          <span>save</span>
        </button>
        <button mat-menu-item>
          <mat-icon>cancel_presentation</mat-icon>
          <span>cancel</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" type="number" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Breed</mat-label>
          <textarea matInput formControlName="breed" rows="5" required></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>
