<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center"
             class="example-toolbar">
  <!--    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
  <div fxFlex="20%">
    <h1 class="example-app-name">لوگو</h1>
  </div>
  <div fxFlex="30%">
    <span>مهدی صنعتکار</span>
    <span class="mat-small">، خوش آمدید</span>
  </div>

  <div fxFlex="grow" fxLayoutAlign="end center" fxLayoutGap.gt-xs="10px">
    <button mat-button>12 خرداد ماه 1398</button>
    <button mat-button>
      <mat-icon>mail_outline</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>notifications_outline</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>power_settings_new_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>
